# =============================================================================
# ENVIRONMENT CONFIGURATION: OBSERVABILITY-DEVOPS-STACK
# =============================================================================

# Grafana Dashboards
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123

# pgAdmin 4
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

# PostgreSQL (OLTP + CDC)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=oltp_db
