# =============================================================================
# ENVIRONMENT CONFIGURATION: OBSERVABILITY-DEVOPS-STACK
# =============================================================================

# Grafana Dashboards
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# pgAdmin 4
PGADMIN_DEFAULT_EMAIL=admin@lakehouse.com
PGADMIN_DEFAULT_PASSWORD=admin

# PostgreSQL (OLTP + CDC)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oltp_db
