# =============================================================================
# ENVIRONMENT CONFIGURATION: TELEMETRY-GOVERNANCE-STACK
# =============================================================================

# Grafana Dashboards
GF_SECURITY_ADMIN_USER=lead_admin
GF_SECURITY_ADMIN_PASSWORD=governanceKey888

# OpenMetadata & Governança
OPENMETADATA_PORT=8585
DB_USER=postgres
DB_USER_PASSWORD=postgres_password

# PostgreSQL (OLTP + CDC)
POSTGRES_USER=lead_admin
POSTGRES_PASSWORD=governanceKey888
POSTGRES_DB=oltp_db
